<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
	<listener class-name="listenerusecase.MyAnnotationTransformer" />
	</listeners>
  <test thread-count="1" name="Test">
    <classes>
      <class name="listenerusecase.B"/>
      <class name="listenerusecase.A"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
